# Base URL of the platform-api-service (API layer to OpenChoreo control plane)
PLATFORM_API_SERVICE_BASE_URL=http://platform-api-service.dp-default-core-development-32790e9d.svc.cluster.local/wso2cloud-dp

SERVER_HOST=0.0.0.0
SERVER_PORT=8080
LOG_LEVEL=info
